@model codefirstpp.Models.emp

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addemp</title>
</head>

<body>
    @using (Html.BeginForm())
    {

        <table style="font-size:x-large;">
            <tr>
                <td>@Html.HiddenFor(e => e.eid)</td>
            </tr>

            <tr>
                <td> Name: @Html.TextBoxFor(e => e.name)</td>
            </tr>

            <tr>
                <td> Did: @Html.TextBoxFor(e => e.did)</td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    }
    <a href="~/company/Index">Home</a>
</body>




</html>
