@model IEnumerable<codefirstpp.Models.emp>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayemp</title>
</head>
<body>
    <table border="1" style="background-color:azure">
        <tr>
            <td>EID</td>
            <td>Name</td>
            <td>Did</td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.eid</td>
                <td>@i.name</td>
                <td>@i.did</td>
                <td><a href="~/company/editemp/@i.eid">Edit</a></td>
                <td><a href="~/company/empdelete/@i.eid">Delete</a></td>
            </tr>
        }
    </table>
    <a href="~/company/Index">Home</a>
</body>
</html>
