
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/company/displaydept">Display Departments</a><br/>
        <a href="~/company/adddept">Add Department</a><br />
        <a href="~/company/displayemp">Display Employees</a><br />
        <a href="~/company/addemp">Add Employee</a>
    </div>
</body>
</html>
